[2018-02-14 21:49] isuruf opened #1 "Using conda in CI"
What do you think about using conda package manager to install all the dependencies and R?

It has pre-compiled binaries of gmp, mpfr, mpc, r=3.3, r=3.4, r-gmp, r-testthat, r-crayon for linux, osx, windows and we can use the scripts from https://github.com/symengine/symengine/blob/master/bin/install_travis.sh

[2018-02-15 03:36] Marlin-Na commented on #1
I am not familiar with conda, but the most common practice of testing R package on travis CI is to use the template at https://docs.travis-ci.com/user/languages/r/ .

I am trying this approach but struggled at a `R CMD check` error. It says:
[code]
I think `mpfr_sech` should be from the mpfr library, but the library is installed and the `-lmpfr` flag is included. Also I do not have such an error w

[2018-02-15 04:09] isuruf commented on #1
Do you know why it fails for me?
[code]

[2018-02-15 04:12] Marlin-Na commented on #1
Oh, please just delete the `/tests` directory, they are outdated. I will add new test with a clean manner.

[2018-02-21 19:00] mattfidler opened #5 "Integration with Other Packages"
Hi,

I saw this package was being developed, and was wondering what time timelines are to put this out on CRAN.

I use sympy through `SnakeCharmR` in `RxODE`.  Can I use sympy expressions directly with symengine? (which is what I produce currently).

I would like to experiment to see if I can use this package for RxODE.

Also are you considering OpenMP support?

[2018-02-21 19:15] isuruf commented on #5
@mattfidler, symengine isn't fully featured as sympy is. What functionality do you use from sympy?

sympy is python and symengine is written in C++ and have bindings for C, Python and now R. So, converting from sympy python to symengine C++ is possible, but will take some work.

Are you using sympy to generate C code for an ODE function and the jacobian, etc.? What are the sympy functions you use?

[2018-02-21 21:18] mattfidler commented on #5
I use:
- Expansion (which is shown to work in the example)
- differentiation for jacobian/forward senstivitiy analysis (and then convert to ODE)
- symbolic matrix multipication and element wise differentiation.

I believe that all this is availble for SymEngine, right?

[2018-02-21 21:28] isuruf commented on #5
Yes, they are. Since you've got `sympy` working, I'd suggest first using `symengine.py` through python to experiment. A python line like `from sympy import Symbol` becomes `from symengine import Symbol`.
If `symengine.py` through `SnakeCharmR` works for you, then you can switch to `symengine.R` which will be lightweight (no need of python) and fast (avoid python runtime costs)

[2018-02-21 22:09] mattfidler commented on #5
I will expermiment.

Do you know if there will some of this functionality be available from a C/R interface so I can call it from compiled code (and possibly use OpenMP to speed up calculation)?

Just curious.

The only other thing I'm unsure of how to do is to clear the symbols etc from the call stack.  I knew how to do this in python, but am unsure how to clean the symengine Symbols/Functions.

[2018-02-21 22:13] isuruf commented on #5
Goal is to provide everything in the C API of symengine. What kind of calculations do you hope to speedup? For example, elementwise differentiation can be parallelized naively, but single element differentiation can be hard and needs to be implemented in libsymengine.

Hmm, I don't understand. Can you clarify?

[2018-02-21 22:50] mattfidler commented on #5
So calculating the jacobian loads all the equations and then calculates multiple derivatives.  This is an easy parallelization, I believe.  However, in windows and other implementations R parallelization is very very bad (compared to parallization in libsymengine).

I noticed with 200 or more ODE compartments and large expressions the memory of sympy can expand.  This can be fixed by removing the

[2018-02-21 22:58] isuruf commented on #5
I still don't understand. Is this a python issue or an R issue? symengine and sympy are both reference-counted and once an expression's reference-count is 0, it'll be freed.

[2018-02-21 23:38] mattfidler commented on #5
Removing the variables in python and garbage collecting (in python) removed the memory.  This effectively had the expression's reference count be 0.

I had to remove the expressions in python for this to occur, and thought I would have to do the same in C, but if this is not the case, then I am mistaking.

[2018-02-21 23:40] isuruf commented on #5
Okay. So, the symengine objects are tied to the lifetime of the R object. Manually clearing the R object should do what you want

[2018-02-23 01:47] Marlin-Na commented on #5
Hi @mattfidler , the R interface to symengine is still in early stage of development. I personally expect it should be available on CRAN during this summer.

[2018-02-23 03:19] mattfidler commented on #5
Thanks.  Its a goal to work for.  It allows me some time to test if symengine will work instead of sympy.

Can I drop sympy entirely if I use symengine in python?

[2018-02-23 04:35] isuruf commented on #5
For your use-case, yes.

[2018-02-25 15:29] irexyc opened #7 "Installation issue"
I try to install it both on macOS and debian9, but both are failed.

On macOS 10.12.2, the installation logs

Downloading GitHub repo Marlin-Na/symengine.R@master
from URL https://api.github.com/repos/Marlin-Na/symengine.R/zipball/master
Installing symengine
'/Library/Frameworks/R.framework/Resources/bin/R' --no-site-file  \
  --no-environ --no-save --no-restore --quiet CMD INSTALL  \
  '/private/

[2018-02-25 15:52] Marlin-Na commented on #7
Sorry, currently you will need to install the symengine C++ library manually. Please see the instruction at https://github.com/symengine/symengine . I will update the README tomorrow.

[2018-02-26 01:14] #7 closed

[2018-03-05 23:16] mattfidler commented on #5
Would you be interested in an R domain specific language that translates R syntax to python syntax for this project?
]

[2018-03-06 00:50] Marlin-Na commented on #5
@mattfidler Hi, I am not sure I understand your question. Do you mean calling python (e.g. sympy) from R?

[2018-03-06 01:48] mattfidler commented on #5
It converts R say `x^2+2` to python `x**2+2` using R's parser.

It is talked about here http://adv-r.had.co.nz/dsl.html

I was assuming that symengine still uses Python syntax.

[2018-03-06 02:23] Marlin-Na commented on #5
@mattfidler In R we can do:
[code]
We define methods of operators and math functions working with symengine objects, and they should match R user's expectation.

SymEngine does have a parser which parse expression from string. For example:
[code]
The string is however not guaranteed to be a valid R expression.

[2018-03-13 23:48] ssp3nc3r opened #12 "basic.cpp:95:20: error: use of undeclared identifier 'basic_parse2'"
I get the following error installing symengine.R

[code]

[2018-03-13 23:50] certik commented on #12
@ssp3nc3r does this happen with https://github.com/symengine/symengine.R as well? I assume it does. What clang version do you have and what macOS version?

[2018-03-13 23:55] ssp3nc3r commented on #12
Yes, I just tried:

devtools::install_github("symengine/symengine.R")

and get the same error.

clang version:

[code]
And macOS:

`High Sierra 10.13.3`

[2018-03-13 23:58] isuruf commented on #12
Do you have the symengine C++ library installed? What does `cmake --find-package -DNAME=SymEngine -DCOMPILER_ID=GNU -DLANGUAGE=CXX -DMODE=COMPILE` give you?

[2018-03-14 00:01] ssp3nc3r commented on #12
I think it's installed.

[code]

[2018-03-14 00:05] isuruf commented on #12
What does `conda list | grep symengine` give you? you need the development version of symengine. `conda install -c symengine/label/dev symengine`

[2018-03-14 00:17] ssp3nc3r commented on #12
Ok, I updated to the development version, now I get an error locating LLVM (see below):

I then went to the LLVM website and downloaded the LLVM file:

`clang+llvm-6.0.0-x86_64-apple-darwin.tar.xz`

but I'm not familiar with how to install this or what to do next. Really appreciate your help resolving this.

[code]

[2018-03-14 00:19] isuruf commented on #12
Do `conda install llvmdev=5.0.0 -c conda-forge`. This would be fixed soon.

[2018-03-14 00:25] ssp3nc3r commented on #12
Ok, installed `llvmdev` per above, which seemed to work, but new error:

[code]

[2018-03-14 01:04] isuruf commented on #12
What does `conda list | grep symengine` give you?

[2018-03-14 01:05] ssp3nc3r commented on #12
[code]

[2018-03-14 01:07] isuruf commented on #12
Try doing `conda install symengine=0.3.0.353.g22cef70 -c symengine/label/dev`

[2018-03-14 01:08] ssp3nc3r commented on #12
[code]

[2018-03-14 01:10] isuruf commented on #12
Try `conda install symengine=0.3.0.353.g22cef70 -c symengine/label/dev -c conda-forge`

[2018-03-14 01:15] ssp3nc3r commented on #12
Ok, after new install, no errors installing the package.

Have a quick test I can give the package?

[2018-03-14 01:19] ssp3nc3r commented on #12
Thanks for your help! I successfully ran several of the examples on:

https://github.com/symengine/symengine.R

[2018-04-15 04:12] #1 closed

[2018-04-15 19:58] #5 closed

[2018-04-18 19:35] #12 closed

[2019-07-01 22:54] Marlin-Na opened #25 "More functions to "vectorize""
The following (incomplete) list of functions should accept VecBasic or R vector with length > 1.

- [ ] `==`
- [ ] `!=`
- [ ] hash
- [ ] type
- [ ] Real ?
- [ ] Symbol ?

[2019-07-04 21:47] Marlin-Na opened #26 "Provide MPFR and MPC support on windows"

[2019-07-05 06:54] Marlin-Na opened #27 "Provide S4 method for sum and prod"

[2019-07-05 18:41] mattfidler commented on #27
S4 is inefficient. Maybe consixer R6?

[2019-07-05 21:52] Marlin-Na commented on #27
@mattfidler R6/RC have reference semantics and do not really apply here. Even we are using R6 for wrapping the SymEngine objects, we still need to implement binding for operators and math functions in S3/S4, which do not really bring us any benefit here.

That being said, the alternative to S4 should be S3 instead of R6 or RC. The main concern for S4's performance is that the dispatch could be slo

[2019-07-06 01:43] mattfidler commented on #27
Thank you for your response.

On Fri, Jul 5, 2019, 4:52 PM Marlin NȺ <notifications@github.com> wrote:

[2019-07-08 04:06] Marlin-Na opened #30 "Better printing method for Vector and Matrix"
The printing output should be designed to fit the width of console -- the width can be obtained from `getOption("width")`.
For Vector, consider printing elements vertically.
For Matrix, consider omitting elements with long expressions as ellipsis -- like `x^3 + y ...`.

We also have to define `format` method for Basic objects.

[2019-07-08 04:09] Marlin-Na opened #31 "Add binding to lambda double visitor and llvm double visitor"

[2019-07-08 06:54] Marlin-Na opened #32 "Parse R expression"
Currently `S` can accept simple formula in R. However, it should also accept a quoted R expression.

I would expect formula come from user input -- hence check if double value is whole number and convert it to integer. For expression, we should maintain consistent two-way conversion methods between R expression and Basic objects -- hence do not check whole number.

[2019-07-08 16:57] mattfidler opened #34 "Are you eventually going to submit symengine.R to CRAN?"
I want to be sure before investing time to use the package in my CRAN package.

[2019-07-08 17:04] Marlin-Na commented on #34
Yes, I am planning to submit it on CRAN, though currently I do not have a specific timeline for it. I am interested to know your use case -- this could help improve this package and I may help with the integration with your package.

[2019-07-08 17:18] mattfidler commented on #34
Currently I use sympy for forward sensitivity analysis in `RxODE`.  All the pieces should be there for `SymEnigne`.  I do wonder about arbitrary derivatives, which sympy supports and I make use of.

Currently the ODEs are expressed in a mini-language that is compatible with R parsers

[code]

I currently convert `d/dt` to python compatible variables.

[2019-07-08 17:19] mattfidler commented on #34
I will also  be using the `expand` as well as the simple derivatives.

[2019-07-08 17:21] mattfidler commented on #34
One of the things I'm not sure how to do in `SymEngine` is to load a bunch of arbitrary expressions into memory and then perform derivative operations on the expressions.

[2019-07-08 17:23] mattfidler opened #35 "In the install instructions you may wish to mention to only include mpc and mpfr"
I included llvm in the install of the symengine binaries and had the following:

[code]

By only including `mpc` and `mpfr` everything ran correctly

[2019-07-08 17:34] mattfidler commented on #34
I looked through and I saw `Symbol` and `use_vars` but no `Function` or `use_function` variable

[2019-07-08 17:44] Marlin-Na commented on #34
I assume that the expressions you are using are quoted R expression? Then I am planning to implement the conversion method from R expression to SymEngine objects. You can see it works for simple formula.

Yes, I am planning to implement them.

[2019-07-08 17:56] Marlin-Na opened #36 "Implement Function, use_funs and use_consts"

[2019-07-08 18:20] mattfidler commented on #34
It is true that it works for a simple formula.

In `sympy` I assigned each expression to python variables and then accessed them later.  I went line-by-line through a RxODE equation and evaluated the converted R(xODE)->python expression and then accessed the variables later.  This effectively substituted all the pre-defined variables into a long expression that could be accessed later to build a R

[2019-07-08 19:23] Marlin-Na commented on #34
I am not sure whether I understand it correctly, but you can assign SymEngine object to a R variable, for example:
[code]
You can also store them in a list or an environment and refer them later.
[code]

I guess you are looking for piecewise expressions? I think they are implemented in SymEngine but not yet for in its C wrapper, hence not available in R. Further, the `==` and `!=` functions are fo

[2019-07-08 19:35] Marlin-Na commented on #34
Actually, for the example above, you may also do:

[code]

[2019-07-08 21:44] #35 closed

[2019-07-08 22:24] mattfidler commented on #34
Thanks @Marlin-Na ;  I agree, and that is what I do.  The only problem is when `condition` depends on `x`.

[2019-07-08 22:29] mattfidler commented on #34
Can you do something like

[code]
And then since `saved1` is in memory, you can then evaluate the following:

[code]

When I try this in the current SymEngine, I get:

[code]

[2019-07-08 22:35] mattfidler commented on #34
Perhaps that is what you mean by `const` expressions?

[2019-07-08 23:59] Marlin-Na commented on #34
Currently `S` only accept formula with right hand side. But I am not clear why not assign the expression to a variable like:

[code]

Perhaps I should also mention that it is possible to use backquote in a formula:

[code]

You can see from the above example that I have implemented `.()` (see in `bquote`) and `{{}}` style backquoting. When `S` encounters such cases, it will evaluate the expression

[2019-07-09 10:41] mattfidler commented on #34
That is fine with me.  However, in `sympy` for instance

[code]

`b` would have the complete expression.

Since I wrote my routines with `sympy` in mind, it would take a large refactoring to use backquotes to do the same sort of thing.  I think it should be possible to query the parent environment for `symengine` variables and substitute them in, so in R you could have:

[code]

Be acceptable synt

[2019-07-09 11:56] Marlin-Na commented on #34
I am not clear what do you mean by complete expression. But I suppose you can do the same in R. For this part, the R binding has the same design as sympy, symbolic expressions are treated as normal R objects, and math functions and operators are directly supported via dispatch. If you run your example, ‘b’ would certainly be a SymEngine object

[2019-07-09 15:04] mattfidler commented on #34
To be more clear, let me show the correct syntax and output in `sympy`:

[code]

See that `b` is `x^2+(x+y)^2`

Now lets try symengine:

[code]

Note that `b` is not expanded or substituted to `x^2+(a+b)^2`

In theory you could lookup `a` in the parent environment and substitute it into the expression as long as it is a symengine object.  With that addition, `symengine` would behave more like `sym

[2019-07-09 15:06] mattfidler commented on #34
I do understand of course the back-quoting:

[code]
But this would require a larger refactoring on my part and isn't the way that `sympy` works either.

[2019-07-09 15:07] isuruf commented on #34
@mattfidler, how about `b = a + S(~x^2)`

[2019-07-09 15:08] isuruf commented on #34
Or just, `b = a + x^2`

[2019-07-09 15:11] mattfidler commented on #34
Ok, so as long as the objects are defined as a symbol in `symengine` then assignments and other such things would work.

The missing piece for me is then simply allowing arbitrary functions in  #36 (and possibly modifying the derivative table for these functions)

[2019-07-09 15:59] Marlin-Na commented on #34
@mattfidler Can you show me an example how would you derive arbitrary function with sympy? I suspect that you want Piecewise expression instead of [Function symbol](https://docs.sympy.org/latest/modules/functions/index.html) in sympy.

[2019-07-09 16:39] mattfidler opened #37 "lgamma and other more complex functions missing from symengine"
[code]

In `sympy` this is `gammafn`

For my `R`->`sympy` table this is what I have:

[code]

[2019-07-09 16:43] mattfidler commented on #34
Sure;

I have a function `linearSolvedSystem(x,a,b,c,d,e,f)` that I have calculated derivatives from and sympy has an arbitrary derivative `subs(D(...),xi_=a)` which I then parse and replace with the calculated derivatives.

[2019-07-09 16:45] mattfidler commented on #34
The linear solved system changes based on events and steady-state ODE solutions, so it isn't trivial to express as an algebraic solution.

[2019-07-09 16:46] mattfidler commented on #34
I also use it to translate `==` to `rxEq()` to check if any of the sensitivities I'm calculating depend on the equality.  If so I can fall back to numeric differences or something similar.

[2019-07-09 16:48] mattfidler commented on #37
The left if the `sympy` function and the right is the `R` function.

[2019-07-09 17:17] Marlin-Na commented on #37
Many of these functions are currently not supported in formula, but supported with S4 method dispatch.

Currently supported functions in your list:
- choose
- gamma
- sinpi
- cospi
- tanpi
- abs

Functions that will be implemented in future:
- log10  as log(x)/log(10)
- log2    as log(x)/log(2)
- log1p  as log(1 + x)
- expm1 as exp(x) - 1
- lgamma  as  log(abs(gamma(x)))
- digamma
- trigamma

Thes

[2019-07-09 17:18] isuruf commented on #37
@Marlin-Na, how about using symengine's parser?

[2019-07-09 17:19] isuruf commented on #35
@mattfidler, feel free to reopen if this issue is not fixed with the latest master of the C++ library.

[2019-07-09 17:24] Marlin-Na commented on #37
@isuruf I think symengine's parser does not support `lgamma` directly?
[code]

[2019-07-09 17:25] isuruf commented on #37
Ah, yes. Does `loggamma(23)` work?

[2019-07-09 17:26] mattfidler commented on #37
I wasn't clear there was a difference:

[code]
So I suppose the preferred syntax is `S("")`, correct?

[2019-07-09 17:28] mattfidler commented on #37
[code]

[2019-07-09 17:29] Marlin-Na commented on #37
@isuruf Yes, it works. Then possibly I can implement `lgamma` as
[code]

[2019-07-09 17:30] mattfidler commented on #37
Is there some table of symengine syntax so I can access the functions and do the translations directly?

[2019-07-09 17:31] mattfidler commented on #35
Ok.

[2019-07-09 17:38] isuruf commented on #37
Not really, but you can have a look at https://github.com/symengine/symengine/blob/master/symengine/parser/parser.h#L64-L168

[2019-07-09 17:43] isuruf commented on #34
@mattfidler, you can do `g = S("linearSolvedSystem(x,a,b,c,d,e,f)")` and then you can do partial differentiation on `g` w.r.t any variable.

[2019-07-09 17:45] Marlin-Na commented on #37
@mattfidler `S` function converts a R object to a symengine object. It can be a character vector, double value, integer, formula, "Basic" object, or a quoted R expression (not supported yet).

For character vector, it will use symengine's default parser to parse the string. For double value or integer, it will convert to symengine object. For a formula, it will try to parse the formula as a symeng

[2019-07-09 18:27] mattfidler commented on #37
Thanks.  For now, I will implement using `S("")`

[2019-07-09 18:27] #37 closed

[2019-07-09 18:31] mattfidler commented on #34
Thanks @isuruf  that is what I need.

[2019-07-09 18:36] mattfidler opened #38 "Table of constants in symengine"
Some constants are reserved in symengine;  An example is below:

[code]

Is there a table of reserved constants?

[2019-07-09 19:19] Marlin-Na commented on #38
These are special cases that I am aware of, there might be missing ones:

[code]
You can use `Symbol` instead of `S` if you want a Symbol.

[2019-07-09 20:28] mattfidler commented on #38
Thanks!

[2019-07-09 20:28] #38 closed

[2019-07-09 22:03] mattfidler opened #39 "Do you know if the CRAN binaries will ship with symengine binaries?"
Just a question -- I'm unsure if you know the answer.

[2019-07-09 22:27] Marlin-Na commented on #39
My understanding is that CRAN will build package binaries for Windows and Mac OS, so that users can install directly with `install.packages`. However, CRAN does not provide binaries for Linux user so that they will need to build from source -- which may require user to compile symengine library themselves, e.g. via the script provided on README.

[2019-07-09 22:50] mattfidler commented on #39
That is fine with me.  I was a bit worried about trying to provide install instructions for Mac OS users.

[2019-07-09 22:51] #39 closed

[2019-07-09 22:51] mattfidler commented on #34
I will start writing assuming that `symenigne` will be going to CRAN within the next few months.

[2019-07-09 22:51] #34 closed

[2019-07-09 23:19] Marlin-Na opened #41 "Do not overwrite `D`"
Maybe it is not wise to overwrite `D`, but create a S4 generic function.

However, in this case, we can not use the third argument. We must write `D(D(expr, "x"), "x")` instead of `D(expr, "x", 2L)` to represent a second derivative.

[2019-07-10 00:13] Marlin-Na commented on #41
closed via #42

[2019-07-10 00:13] #41 closed

[2019-07-10 13:49] mattfidler opened #43 "Error installing with new `lgamma`"
[code]

If you need sessionInfo I can provide it.

[2019-07-10 14:36] certik commented on #43
Weird. Can you try the following:
[code]
And see if things compile?

[2019-07-10 14:38] isuruf commented on #43
@mattfidler, you need the very latest of symengine C++ library master branch. `basic_loggamma` was added yesterday.

[2019-07-10 15:51] mattfidler commented on #43
Ah.  Thanks.

[2019-07-10 16:00] mattfidler opened #44 "install script should use openMp by default?"
The Mac/Windows toolchains for R have openMP support, so I think you should enable it in the default install script to add speed gains.

[2019-07-10 16:01] isuruf commented on #44
OpenMP support in symengine is minimal. It only parallelize operations over matrices and if you don't use matrices, it will not help at all.

[2019-07-10 16:03] mattfidler commented on #43
Fixed with latest symengine

[2019-07-10 16:03] #43 closed

[2019-07-10 16:18] mattfidler commented on #44
I actually do use matricies, I had forgotten;  Are they supported in `symengine.R`?

It seems it isn't yet:

[code]

[2019-07-10 16:20] Marlin-Na commented on #44
@mattfidler It is supported:

[code]

[2019-07-10 16:21] mattfidler commented on #44
Matrix(LETTERS[1:4], 2, byrow = TRUE)

[2019-07-10 16:25] mattfidler commented on #44
The additional `openMp` parallelization would be minimal, but possibly worthwhile?  Anyhow, thanks for the information.  I will let you decide.

[2019-07-10 16:27] Marlin-Na commented on #44
@mattfidler I will keep this issue open and possibly enable it in future.

[2019-07-12 11:08] mattfidler opened #46 "Correct way to use functions with symengine objects"
Is this correct?
[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

You could also support `psigamma` which reverses `polygamma`'s arguments

[2019-07-12 13:06] isuruf commented on #46
What's the issue here?

[2019-07-12 13:09] isuruf commented on #46
[code]
is better as it avoids converting the arguments to string and parsing them

[2019-07-12 14:09] mattfidler commented on #46
Based on timing, it is currently better to convert to string and then parse.  Is there any drawbacks to this approach? (Note: I also had to modify your function slightly to produce the right results)

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 14:10] mattfidler commented on #46
These results likely depend on the size of the symengine object to convert to string?  I'm not sure the comparison is fair.

[2019-07-12 14:20] mattfidler commented on #46
Note using the underlying C code directly makes this faster:

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

With that in mind, can the `s4basic_subs` be exposed in some way?  Maybe `subs2`?

[2019-07-12 14:20] Marlin-Na commented on #46
With #45 , you should use

args  = c(Symbol("a"), Symbol("b"))
FunctionSymbol ("polygamma", args)

[2019-07-12 14:23] Marlin-Na commented on #46
or

polyfamma = Function(“polugamma”)
polygamma(a, b)

[2019-07-12 14:25] mattfidler commented on #46
Indeed `FunctionSymbol` is superior

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 14:27] isuruf commented on #46
@Marlin-NA, polygamma is a built-in function in SymEngine, so FunctionSymbol doesn't do the same thing

[2019-07-12 14:27] mattfidler commented on #46
However it is not accessing the underlying `polygamma` function;  I just noticed that too.

[2019-07-12 14:32] Marlin-Na commented on #46
Then you will still need subs, I believe if you avoid using formula in subs, it should be fast. Parsing R expression was expensive. Also I do not suggest converting symengine object to string and then parsing again. It is not guaranteed that it is always parsed correctly.

[2019-07-12 14:40] Marlin-Na commented on #46
Possibly you can try :

subs(subs(S("polygamma(a,b)"),Symbol("a"),a),Symbol("b"),b)

[2019-07-12 14:47] mattfidler commented on #46
Indeed the chained subs performed the best:

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 14:50] mattfidler commented on #46
However, when you get an equivalent `polygamma` function in symengine the speed should be much faster.  Just like with `lgamma`.

[2019-07-12 14:54] mattfidler commented on #46
You could use a dsl converter to guarantee a R compatible function.  I have most of this worked out in RxODE, but there are extra pieces that are not base R, (like conversion to R constants for compiled code).

[2019-07-12 16:33] mattfidler commented on #46
Thansk @isuruf  and @Marlin-Na.  This works for me.

[2019-07-12 16:45] isuruf commented on #46
Another variant,
[code]

[2019-07-12 16:55] mattfidler commented on #46
Indeed much better:

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 16:58] isuruf commented on #46
Another variant,
[code]

[2019-07-12 16:58] mattfidler commented on #46
Yes that gives:

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 17:00] isuruf commented on #46
You need `subs(subs(polygamma_tmp_, .a, a),.b, b)` instead of `subs(subs(polygamma_tmp_, .a, a),.a, b)`

[2019-07-12 17:02] mattfidler commented on #46
Yes.  I got it right in my package :)

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-12 17:04] isuruf commented on #46
On second thought, nested subs will give you wrong results, unless the arguments are not used anywhere.
[code]

Otherwise, `polygamma(b, c)` will be wrong.

[2019-07-12 17:09] isuruf commented on #46
Let's add support for `polygamma` without using subs. https://github.com/symengine/symengine/issues/1560

[2019-07-12 17:13] mattfidler commented on #46
I used Symbol("_rx_a") for now because R doesn't parse bare `_a` so it is unlikely that they will be used.  Of course you can backquote it to work correctly.

It actually can be problematic to use dsl parsing since symengine uses `_xi_#`, but I think it is fine

[2019-07-12 17:14] Marlin-Na commented on #46
Reopen to add `psigamma` binding in R.

[2019-07-12 17:35] isuruf opened #47 "Latex view in IRKernel"
For example, Python and C++ notebooks will use `latex` function to convert to latex and display a symengine object.

[2019-07-12 17:40] Marlin-Na commented on #47
I have thought about supporting latex printing in R markdown document, and it should also be possible in Jupyter notebook. It seems that there is support for latex string generation in the C++ library but not yet wrapped in cwrapper, right? Do you think we should use SymEngine's latex printer or implement R's?

[2019-07-12 17:43] isuruf commented on #47
Yes. SymEngine's latex printer is at its early stages and there's much to improve. It's faster since it uses symengine internals. If there are any issues with it, we can fix it and it would benefit the python and other wrappers.

[2019-07-21 03:38] mattfidler commented on #34
I finished porting all the sympy functions in RxODE and dsl to symengine.  @Marlin-Na and @isuruf  is there anything I can do to help you get to cran?

[2019-07-21 07:29] Marlin-Na commented on #34
@mattfidler It is good to know that symengine works for your application. Hopefully I will start the process submitting it to CRAN in mid-August. There are still several features that I hope to implement before the first release, as well as additional documentation, vignettes, etc.

[2019-07-21 18:45] mattfidler commented on #34
Ok.  If you need help with this let me know @Marlin-Na

[2019-08-01 23:11] Marlin-Na opened #52 "Add binding of atan2"
Which is not a member of `Math` group generics.

[2019-08-01 23:21] Marlin-Na opened #53 "Provide numeric implementation of missing trigonometric and hyperbolic functions and S4 bindings"
`cot` `csc`  `sec` `acot` `acsc` `asec` `coth` `csch` `sech` `acoth` `acsch` `asech` are missing from base R.

For consistency with other trigonometric functions such as `sin`, we should provide numeric version of these functions and S4 binding for SymEngineDataType.

[2019-08-01 23:22] #36 closed

[2019-08-05 20:45] #32 closed

[2019-08-11 02:48] mattfidler commented on #53
What about `lambertW`?

[2019-08-11 02:50] mattfidler commented on #53
And `erf`, though it is a transformation of `pnorm`

[2019-08-15 07:31] Marlin-Na opened #55 "Incorporate with a numeric ODE solver"
SymEngine can convert Basic object to C code string. Then we can easily incorporate them with an existing numeric ODE solver. There are existing R packages that can help compiling C/C++ source code with ODE solver and run them.

Candidates are:
- cOde, https://github.com/dkaschek/cOde
- odeintr, https://github.com/thk686/odeintr

[2019-08-16 08:22] mattfidler commented on #55
You could also use RxODE;  As a bonus it already uses symengine

[2019-08-16 08:23] mattfidler commented on #55
It also converts R to C/C++

[2019-08-19 11:49] #31 closed

[2019-08-23 05:57] Marlin-Na opened #59 "Wrap dense_matrix_jacobian"

[2019-08-26 09:41] Marlin-Na opened #60 "CRAN submission"
Checklist:

- [x] Check the `DESCRIPTION` file for authors, license, etc.
- [x] Simplify the `README`.
- [x] Proof read all the documentation.
- [x] Write a simple vignette listing some basic usage.
- [x] Check the package with `R CMD check --as-cran`.
- [ ] Check the package on [r hub](https://builder.r-hub.io/)
- [x] Check the package on CRAN's [win-builder](https://win-builder.r-project.org/).

[2019-08-26 09:46] Marlin-Na commented on #60
We should also consider submitting to https://ropensci.org/ which will review the package.

[2019-08-26 09:47] #46 closed

[2019-08-26 09:47] #52 closed

[2019-09-02 20:59] #27 closed

[2019-09-14 05:26] Marlin-Na commented on #47
Generating latex view in Rmarkdown document is now supported in Rmarkdown with https://github.com/symengine/symengine.R/pull/64.

[2019-09-29 08:50] Marlin-Na opened #65 "Method for `%in%` and `match`"
`%in%` and `match` are not generics in base R, however we can define it in the way similar to [BiocGenerics](https://github.com/Bioconductor/BiocGenerics/blob/f9ccb72e68aa801c719c33545f9fb14a5be39ed2/R/match.R) that dispatch on `x` and `table`.

[2019-10-19 15:44] mattfidler commented on #60
Is there anything I can do to help you guys?

[2019-10-26 05:09] isuruf commented on #60
@Marlin-Na, I can help as well.

[2019-10-26 05:13] Marlin-Na commented on #60
Thanks @isuruf @mattfidler , I will get some time this weekend to do a final review and submit it.

[2019-10-27 21:36] mattfidler commented on #60
Thank you so much @Marlin-Na

[2019-10-28 06:21] Marlin-Na commented on #60
The package has now been submitted on CRAN for review. The next step is to wait for CRAN's response and see if there are issues with building/checking.

[2019-10-29 16:48] mattfidler commented on #60
Thank you.  I saw it on CRAN-incoming.

[2019-10-31 16:31] Marlin-Na opened #68 "Double bracket subset for matrix broken"
[code]
[code]

[2019-12-15 11:34] #55 closed

[2019-12-18 17:57] mattfidler opened #74 "Installation from github doesn't work for me any longer"
[code]

[2019-12-18 21:38] Marlin-Na commented on #74
I can not reproduce the error on my side.

Can you try:

build_vignettes = TRUE)

and see if there is issue on that branch?

On 12/18/19 12:57 PM, Matthew Fidler wrote:

[2019-12-18 22:03] mattfidler commented on #74
Thanks @Marlin-Na,

It didn't fail as quickly, but it eventually failed.

Is there some sort of output I can provide to help you?

[code]

[2019-12-18 22:18] Marlin-Na commented on #74
The later error is due to https://github.com/eddelbuettel/bh/issues/67, however this is already fixed on its master branch.

For now, I would suggest either skip building the vignette with `build_vignettes = FALSE`, or try install the latest version of `BH` on github:

[code]

[2019-12-18 22:27] Marlin-Na commented on #74
@mattfidler Oh sorry, it seems you will need to install `odeintr` to build the vignette. I thought the `build_vignettes=TRUE` argument will automatically install all the suggested packages.

[2019-12-19 14:27] mattfidler commented on #74
Ok.  Thats fine.  It works now.

[2019-12-19 14:27] #74 closed

[2019-12-19 14:38] mattfidler commented on #74
Strangely I do have `tput`, so in theory what you have should have worked...

[2020-01-07 14:55] elfunesto opened #78 "support for NA"
Thank you very much for this great package. Currently, I have not seen any way to deal with NA and get a "Can not parse NA_real_". It would be great to have a way to deal with this.
Regards

[2020-01-07 15:07] Marlin-Na commented on #78
One way to do it is to convert R's `NA` to SymEngine's `NaN` (i.e. `S(NaN)`). However I think `NA` and `NaN` in R have different semantics. `NA` means missing and does not have a good mapping in SymEngine. I would suggest you convert `NA` to `NaN` and then pass it to SymEngine's parser.

[2020-01-07 15:17] elfunesto commented on #78
Thank you for your answer, it fulfils my need!

[2020-01-17 15:17] yihui opened #80 "Congratulations on the award!"
Since it has been publicly announced, I just want to congratulate you on the honorable mention of John Chambers award! 🎉 https://community.amstat.org/jointscsg-section/awards/john-m-chambers

BTW, it seems you have been struggling with the initial CRAN release for quite a while. Good luck!

[2020-01-17 16:33] Marlin-Na commented on #80
Thanks Yihui! It is my honor to have you in the review panel. Also have to mention that this package won't be possible without the hard work of the underlying SymEngine C++ library, especially @isuruf 's long-term contribution.

[2020-01-17 19:05] mattfidler commented on #80
Congrats @Marlin-Na ;  Indeed that is a honor.

Good luck with the CRAN release;  My offer still stands (if you need any help).

[2020-01-23 16:12] elfunesto opened #81 "factor function"
Hello,
Is there an equivalent of the factor function provided by in sympy package (i.e. the opposition of the expand function? https://www.geeksforgeeks.org/python-sympy-factor-method/ ? If not, is there plan to implement it? I guess this depends on the availability in the symengine engine? Anyway, thank you for your brilliant package.
Hilaire

[2020-01-23 16:15] kaneplusplus opened #82 "symengine segfaulting with derivative of abs"
Thanks very much for this package. It is extremely helpful.

I'm able to get `symengine` (R package 0.5.0) to segfault on the mac with the following code with R version 3.6.1. Note that I'm using `abs()`, which is continuous everywhere but not differentiable everywhere. This will be of particular interest to people thinking about implementing the lasso using coordinate descent with the package.

[

[2020-01-23 16:38] certik commented on #82
Thanks @kaneplusplus for reporting it! It needs to be fixed.

[2020-01-23 17:14] Marlin-Na commented on #82
Thanks for reporting. I think symengine currently only has solvers for polynomial expression and system of linear equations. Thus `solve` dispatch to solve polynomial expression in this case, which means any non-polynomial expression like `solve(exp(x) - 3)` will segfault currently. This segfault should be avoided by checking the expression in the R package.

A more generic solver would be needed

[2020-01-23 17:20] isuruf commented on #82
@Marlin-Na, is the segfault coming from the C++ library? Or is it a matter of catching a C++ exception in the R package>

[2020-01-23 17:24] Marlin-Na commented on #82
@isuruf The segfault is coming from the `basic_solve_poly`
 https://github.com/symengine/symengine/blob/master/symengine/cwrapper.h#L652 in the cwrapper. Ideally it should return an error code instead of segfaulting.

[2020-01-23 17:42] Marlin-Na commented on #81
I think both `factor` and `simplify` are currently missing from symengine C++ library.

[2020-01-23 19:53] elfunesto commented on #81
That was my guess. Hope it will be implemented one day, this would be very helpful. Thank you for your answer

[2020-01-24 22:28] mattfidler commented on #81
In RxODE, we did factoring by symengine -> expand -> dsl parsing.  It is possible, but it would be done outside of symengine.

[2020-01-24 22:33] isuruf commented on #81
@mattfidler, is this univariate polynomial factoring?

[2020-01-24 22:37] mattfidler commented on #81
It is multivariate polynomial factoring.  However, in principle it is uni-variate polynomial factoring applied to each term in a polynomial or non-polynomial expression.  I used it for inductive linearization.

[2020-01-24 22:46] isuruf commented on #81
Yeah, a generic factoring would be able to factor, `sin(x)**2 + 2*sin(x)*log(x) + log(x)**2`, but I guess that's not needed here.

[2020-01-24 23:40] mattfidler commented on #81
Not for my purposes.  You are right, of course.

[2020-01-25 07:42] elfunesto commented on #81
@mattfidler , thank you for your suggestion. I have never used RxODE so I will have a look. Do you have a piece of code to illustrate the procedure?

[2020-01-27 19:25] mattfidler commented on #81
Hm.  It is buried in the package (and it is off-topic for this repository)

First after using symengine's `expand`, I split it with `rxSplitPlusQ` for the `+` and `-` operators:

https://github.com/nlmixrdevelopment/RxODE/blob/b0e77313a4127c5b41c1805ea89d002205a35a2f/R/symengine.R#L2108-L2190

I can then use that same function to split with the `*` and `/` operators and then see if they match what

[2020-01-27 19:32] mattfidler commented on #81
[code]

<sup>Created on 2020-01-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-27 19:35] elfunesto commented on #81
Thank you very much!

[2020-03-04 14:57] Marlin-Na commented on #60
Finally on its way to CRAN

[2020-03-04 17:55] mattfidler commented on #60
Horray!

[2020-03-09 10:17] Marlin-Na opened #84 "cmake does not respect CC and CXX environment variable"
Currently the package fails to build on Solaris, settings below:

https://www.stats.ox.ac.uk/pub/bdr/Rconfig/r-patched-solaris-x86
[code]

R build error

https://cran.r-project.org/web/checks/check_results_symengine.html
[code]

It seems that cmake detects and tries to use `developerstudio12.5` while `CC` and `CXX` are set to other paths. @isuruf Do you have any idea why it happens? Is it the case

[2020-03-09 13:50] isuruf commented on #84
@Marlin-Na, I tried SunPro 12.6. After fixing a few bugs in CMake files, it looks like the compiler has trouble compiling code with `enable_if_t`. I'll have a look into fixing it. In the meantime, can you use gcc as mentioned in the message?

[2020-04-01 05:24] isuruf commented on #60
Looks like it was removed. https://cran.r-project.org/web/packages/symengine/index.html

Let me know how I can help

[2020-04-28 13:02] Marlin-Na commented on #60
Now it has been resubmitted and accepted.

[2020-04-28 13:02] #60 closed

[2020-04-28 14:29] mattfidler commented on #60
Awesome!  Thanks again @Marlin-Na.  I will be watching the CRAN tests in the next while

[2020-04-28 14:31] mattfidler commented on #60
Apparently there may be a problem that might kick it off cran again:

https://cran.r-project.org/web/checks/check_results_symengine.html

For some reason Mac OS isn't detecting cmake.

[2020-04-28 14:32] mattfidler commented on #60
Nevermind, that was for the previous version.

[2020-04-29 10:52] Marlin-Na opened #86 "cmake issue with clang"
`cmake --find-package` seems to have issue on CRAN's setup with Fedora and clang https://www.stats.ox.ac.uk/pub/bdr/Rconfig/r-devel-linux-x86_64-fedora-clang

Install log https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-fedora-clang/symengine-00check.html:

[code]

This is interesting since first run of `cmake --find-package` seems successful.

The cmake error traces back to https://gi

[2020-05-03 02:45] Marlin-Na opened #88 "Travis CI issue on Mac OS"
[code]

[2020-05-04 04:09] #86 closed

[2020-05-04 08:24] Marlin-Na opened #89 "SymPy integration"
We can use SymPy to provide missing functionalities in SymEngine.

[code]

Then this provides nice seamless integration through reticulate:

[code]

The symengine object in R is first passed to python through pycapsule, then converted to symengine.py object. Thanks to symengine.py's compatibility layer, sympy functions can work on them and the result is seamlessly converted back to R's symengine o

[2020-05-05 02:50] mattfidler commented on #89
The problem with this is that adding SymPy to a r package means that R package can't be called from python.

This is discussed on the RxODE issue here:

https://github.com/nlmixrdevelopment/RxODE/issues/170#issuecomment-598614790

Is there any way to make this a suggests instead of a dependency so that my python users can call the R package with `rpy2`

[2020-05-05 03:06] Marlin-Na commented on #89
I think yes - reticulate and sympy stuff should be optional and there should be option to disable them.

[2020-05-05 03:08] mattfidler commented on #89
I think that would be great.  Thank you for your accommodation.

[2020-05-05 03:10] mattfidler commented on #89
@rikardn do you know if the calling of `rpy2` only fails if the package calls `python->R->python`? If it is simply loaded it doesn't affect the results?

[2020-05-05 03:24] Marlin-Na commented on #89
@mattfidler Also I think loading reticulate package itself doesn't automatically initialize the python session. If we avoid initializing the python session ourselves I think it should be okay.

[2020-05-05 03:25] mattfidler commented on #89
Thanks @Marlin-Na, good to know.

[2020-05-05 08:28] rikardn commented on #89
@mattfidler If I remember correctly my python script that called nlmixr froze/crashed the python console only when nlmixr was calling python. But I didn't test much more than one estimation.

Another way of calling nlmixr from python would of course be to not use rpy2 and to do command line calls instead. That should always work. I would of course be grateful if you could isolate the parts needing

[2020-05-05 08:35] mullon-ch commented on #88
I have encountered the same problem. I have Mac OS 10.15.4 and clang 11.0.3.

[2020-05-05 11:00] Marlin-Na commented on #89
@rikardn In my mind, this is to implement functionalities that are not available yet in the SymEngine C++ library, e.g. integration, simplification.  In future, as more functions are implemented in C++, we may replace them with C++ ones.

[2020-05-05 11:07] rikardn commented on #89
@Marlin-Na Ok. Expect it to stay this way for a while since the development of symengine is very slow currently and that no Google summer of code project was announced for symengine this year.

[2020-05-05 19:38] mattfidler commented on #89
Thank you for the clarification @rikardn.  `rpy2` is the preferred option, of course.  @Marlin-Na thank you for the clarification too;  I guess functions requiring `SymPy` will alert the user of course.

[2020-05-06 11:13] Marlin-Na commented on #88
Thanks for reporting it. Apparently in R-4.0, `R CMD config CXX` returns `clang++ -mmacosx-version-min=10.13 -std=gnu++11`, we set it as `CXX` environment variable and run cmake for the C++ library, which leads to this error.

I also tested the following values:
- Setting `CXX="clang++  -mmacosx-version-min=10.13"` runs fine.
- Setting `CXX="clang++ -std=gnu++11"` runs fine.
- Setting `CXX="clang+

[2020-05-06 12:20] mullon-ch commented on #88
Thank you very much, Marlin. I check what you suggest and I go back to you.

Le mer. 6 mai 2020 à 13:14, Marlin NȺ <notifications@github.com> a écrit :

[2020-05-06 14:41] isuruf commented on #88
Setting `-DWITH_COTIRE=NO` might work too.

[2020-05-06 14:46] Marlin-Na commented on #88
@isuruf Thanks! It indeed works and I think this is a better solution.

[2020-05-06 15:21] mullon-ch commented on #88
Dear Marlin

It has worked fine. Thanks

Christian

Le mer. 6 mai 2020 à 13:14, Marlin NȺ <notifications@github.com> a écrit :

[2020-05-06 17:07] #88 closed

[2020-05-10 09:12] Marlin-Na opened #92 "Use Rtools 4.0 on windows"
A msys2-based build system is used starting R 4.0. This brings hope that we can compile from source on Windows without downloading any binaries.

[2020-05-15 02:37] levibaguley opened #93 "solving returns VecBasic of length 0"
I would've put this one StackOverflow but this package seems pretty new so I thought asking you guys would be the best.
I'm trying to solve a function that looks something like this:

`P == 1 / (1 + exp(-(b0 + b1 * r + b2 * t)))`

It's a logistic function but I want it in terms of `r`. This is my attempt.
[code]
Is `symengine` unable to solve this? It isn't clear what `VecBasic of length 0` means.

[2020-05-15 03:54] Marlin-Na commented on #93
Thanks for reporting. Yes currently only polynomials can be solved with this package and it's a bug that it should raise an error instead of returning an empty VecBasic.

There is ongoing effort to integrate SymPy with the package so it could provide a generic solver (hopefully be available soon). But that would require additional setup.

By the way, are you using symengine on Windows?

[2020-05-15 14:41] levibaguley commented on #93
Yes, see edits.

[2020-05-19 15:56] hwborchers opened #94 "R aborted when solving polynomial"
I am trying to apply symengine::solve to find roots of a non-cyclotomic polynomial of degree 7:

    library(symengine)
    ## SymEngine Version: 0.6.0

    x <- Symbol("x")
    p7 <- x^7L + 2L*x^5L - 12L*x^4L - 12L*x^3L + 2L*x^2L + 1L

    solve(p7, x)

and the R process stops with the following message:

    R Session Aborted
    R encountered a fatal error.
    The session was terminated.

What

[2020-05-20 06:39] #68 closed

[2020-05-20 06:39] #94 closed

[2020-05-20 06:42] Marlin-Na commented on #94
Thanks for reporting. This should be fixed on master branch now (except for Windows).

[2020-06-18 21:56] mattfidler opened #96 "R cannot parse long symengine expressions"
With a long symbolic expression an extra `>` is added in the middle of expression when converting to a string with the `as.character` function.  In the example below:
[code]
<details>

[code]

<sup>Created on 2020-06-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

</details>

[2020-06-18 22:05] mattfidler commented on #96
It seems to occur at char `4093`

[2020-06-18 22:14] isuruf commented on #96
I don't see any `>` in the output except at the beginning.

[2020-06-18 22:25] mattfidler commented on #96
This is suspiciously close to the maximum size of the console:

https://cran.r-project.org/doc/manuals/R-intro.html#R-commands_003b-case-sensitivity-etc

https://github.com/wch/r-source/blob/496adb0085703362b2dee63537f0d89820f5afbb/src/include/Defn.h#L1040-L1042

Can you provide a work-around when using as.character to split into multiple strings?  Or is there something I'm missing here.

[2020-06-18 22:31] mattfidler commented on #96
Sorry, I didn't see your comment @isuruf.

I couldn't see it either when I wrote the string to a file.  But parsing it causes problems:

<details>

[code]

<sup>Created on 2020-06-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

</details>

This leads me to believe it is actually a R limitation, but if I want to convert symengine->R (which I do so I can do some internal par

[2020-06-18 22:40] mattfidler commented on #96
I'm unsure if you deem this as an R bug or a symengine bug.  If you think it is a R bug I will close this issue.

[2020-06-18 22:44] Marlin-Na commented on #96
Hi @mattfidler,
I tried to write

[code]

into a file and source it using `source`, it seems it runs fine.

Were you copying it into console?

[2020-06-18 23:28] Marlin-Na commented on #96
Hi @mattfidler ,

I seems that if I substitute "_xi_1", "_xi_2" to "xi_1" and "xi_2", it runs fine. I think the issue is that when the expression is large, the R parser failed to report the actual syntax problem. Could you try the following?

[code]

[2020-06-19 02:34] mattfidler commented on #96
That is it;

<details>

[code]

<sup>Created on 2020-06-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

</details>

[2020-06-19 02:34] #96 closed

[2020-06-19 02:49] mattfidler commented on #96
I'm unsure why `atan2` isn't in the derivative tables, it is in sympy:

https://github.com/sympy/sympy/blob/ab14b02dba5a7e3e4fb1e807fc8a954f1047a1a1/sympy/functions/elementary/trigonometric.py#L2948

Anyhow, I put it in the extra derivatives of `RxODE`.  If you decide to put it in, I guess I won't need it.

[2020-06-19 02:53] isuruf commented on #96
That's weird, can you open another issue?

[2020-06-19 03:18] Marlin-Na commented on #96
@mattfidler Derivative on `atan2` is working on my side. Do you have a code snippet?

[2020-06-19 13:15] mattfidler opened #97 "`atan2` derivative"
@mattfidler Derivative on `atan2` is working on my side. Do you have a code snippet?

_Originally posted by @Marlin-Na in https://github.com/symengine/symengine.R/issues/96#issuecomment-646412606_

[code]

<sup>Created on 2020-06-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-06-19 13:16] mattfidler commented on #97
For some reason it isn't working on my side. @isuruf and @Marlin-Na, as requested in a new issue.

[2020-06-19 13:19] mattfidler commented on #97
As a note, it is a bit confusing that the package version is `0.1.3` and it states SymEngine version `0.4.1`

[2020-06-19 15:22] isuruf commented on #97
Ah, this was fixed in symengine (C++) master. `0.4.1` is the symengine C++ library version. It's different from the version of the R package.

[2020-06-19 15:24] Marlin-Na commented on #97
I will need to update the binaries on windows.

[2020-06-19 18:30] mattfidler commented on #97
I think that requires a new cran release for windows 👎.  Its a painful process.

[2020-12-09 04:58] mattfidler opened #100 "illegal opcode on mac"
I tried out the new github runner and have the following when loading `symengine` on mac:

[code]

https://github.com/nlmixrdevelopment/RxODE/runs/1521723803?check_suite_focus=true

[2020-12-09 12:23] mattfidler commented on #100
This uses the prebuilt mac binaries on CRAN which means they may not work correctly.

[2020-12-09 16:51] Marlin-Na commented on #100
Thanks for the report. I will look into this.

[2020-12-09 17:10] mattfidler commented on #100
Note that it works if I use `devtools::install_github("symengine/symengine.R")`

[2020-12-11 00:10] isuruf commented on #100
@mattfidler, what's the cpu model of the macos runner?

[2020-12-11 01:08] mattfidler commented on #100
Not sure;  This is the output at the top:

[code]

[2020-12-11 01:10] mattfidler commented on #100
More information about the virtual machine is here:

https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md

I believe it uses the Microsoft Azure framework if that helps.

[2020-12-11 05:17] Marlin-Na commented on #100
@mattfidler Thanks for the information. FYI, I can't reproduce the error on my computer (macOS 10.15.4), by R CMD checking RxODE with CRAN version of symengine.

I don't know the precise reason of the crash, but I guess we can try adding `-mmacosx-version-min=10.13` to cmake flags. R uses it by default when compiling the package's source code, but I think we didn't pass it down when compiling the

[2020-12-11 10:54] lkeegan commented on #100
@isuruf `sysctl -n machdep.cpu.brand_string` gives `Intel(R) Xeon(R) CPU E5-1650 v2`

these are quite old cpus that don't have support for instruction sets such as `avx2`, maybe the CRAN version of symengine was compiled with `-march=native` or a similar flag to enable such instructions?

@Marlin-Na this would also be consistent with it working for you, since this issue would only appear on older

[2020-12-11 12:48] mattfidler commented on #100
There flags are here:
[code]

Thank from the R source project:
https://svn.r-project.org/R-dev-web/trunk/QA/Simon/R4/conf.high-sierra-x86_64

[2020-12-11 16:13] mattfidler commented on #100
I'm unsure since the build hasn't completed, but `install.packages("symengine", type="source")` seems to work as well.

https://github.com/nlmixrdevelopment/RxODE/runs/1538236241?check_suite_focus=true

Once it is complete it can say if symengine failed.

[2020-12-11 16:59] mattfidler commented on #100
The build does work. My guess is that it has to do with the `-mmacosx-version-min=10.13` flag.

[2020-12-11 17:49] mattfidler commented on #100
Note that travis is going away at the end of this year, others will probably use github actions as a replacement.

[2020-12-31 11:28] essemenoff opened #102 "Unappropriate sed delimeter in configure file"
Hello SymEngine developers,

During R-package installation I catched next error
[code]
I found sed delimeter is set to colon in configure file of R-package archive

configure, lines 171-173
[code]

It occurs if PKG_LIBS_VALUE, PKG_CPPFLAGS_VALUE contains text with multiple path.
Example of PKG_LIBS_VALUE
[code]

I changed colon to vertical slash
[code]
and it works.

Could you please fix this issu

[2021-01-02 10:04] Marlin-Na commented on #102
Thanks for the report. It will be fixed in #104

[2021-01-02 10:34] #102 closed

[2021-01-21 03:53] mattfidler opened #105 "Does not play nicely on `shinyapps.io`"
See https://community.rstudio.com/t/deployment-fails-with-missing-cmake/92668/3

[2021-01-21 05:44] isuruf commented on #105
For Linux systems, they need to install the dependencies. See https://github.com/symengine/symengine.R#installation

[2021-01-21 19:28] Marlin-Na commented on #105
I created a request to have cmake to be installed on shinyapp.io: https://github.com/rstudio/shinyapps-package-dependencies/issues/268

[2021-01-21 21:29] mattfidler commented on #105
Thanks @Marlin-Na

[2021-01-21 21:33] isuruf commented on #105
@Marlin-Na, isn't `gmp, mpfr, mpc` also required?

[2021-01-21 22:01] Marlin-Na commented on #105
Looks like they already provide `gmp` and `mpfr` https://github.com/rstudio/shinyapps-package-dependencies/blob/master/packages/Rmpfr/install and https://github.com/rstudio/shinyapps-package-dependencies/blob/master/packages/gmp/install . `mpc` would be optional.

[2021-02-12 23:09] mattfidler opened #107 "Cannot locate correct libraries on linux"
This is from a very knowledgeable IT administrator;  I was trying to install on my companies linux HPC and the GMP  / MPFR binaries are wrong. His statement was:

I  think that data.table uses `pkgconfig`, that may work here?

https://github.com/Rdatatable/data.table/blob/97c96b2aacaacc0ae0e2df7b5ed85124da5eb524/configure#L24-L47

Is there a way to over-ride the detection and specify them manually

[2021-02-12 23:18] isuruf commented on #107
`LD_LIBRARY_PATH` is for the dynamic loader. `LIBRARY_PATH` is used by most compilers and cmake only looks at paths that the compiler recognizes. You can set `LIBRARY_PATH` if the compiler supports that. Or use `CMAKE_PREFIX_PATH` env variable which is supported by cmake for all compilers.

[2021-02-12 23:35] mattfidler commented on #107
Thanks;  I will try with this

[2021-03-01 01:34] bgoodri commented on #89
Thanks for doing all this stuff with symengine and SymPy. But I think I must be missing a step to integrate with SymPy. I installed symengine.py from GitHub (although its latest commit did not build so I had to checkout 62a0d89 "Merge pull request #319 from Marlin-Na/pycapsule"). When I run R code like in the OP, it does not seem to have the pycapsule functionality
[code]

  AttributeError: module

[2021-11-04 04:06] #107 closed

[2022-04-24 18:47] jrproctor opened #112 "Fatal error on Windows 10"
I installed SymEngine from source on Windows 10, and I get a fatal error when executing any symengine code in both RStudio and the R console.

Steps to produce:
[code]

My session info:
[code]

[2022-04-24 18:51] Marlin-Na commented on #112
Thanks for reporting. Looks like that it is also failing on CRAN now. I will look into this.

[2022-04-24 18:52] isuruf commented on #112
R 4.2.0 switched to UCRT builds and we need to rebuild symengine and gmp using the new toolchain.

[2022-04-27 16:34] #112 closed

[2022-04-27 16:37] Marlin-Na commented on #112
@jrproctor This is fixed on master branch, you can now install from source from github. You will need to install [Rtools42](https://cran.r-project.org/bin/windows/Rtools/rtools42/rtools.html) to build the package. I also submitted it to CRAN, but it might take a few days to process.

[2022-04-27 17:39] jrproctor commented on #112
Thanks! Confirming that I installed from github and did not encounter the error that I reported earlier.

[2022-07-08 15:05] rikardn opened #116 "Why GPL?"
Why is the license for the R bindings of symengine GPL? Ideally it should be under the same license as symengine itself

[2022-07-08 16:20] Marlin-Na commented on #116
I was following the license of R itself (which is GPL-2 | GPL-3).
If there is concern on that, I am happy to switch it to MIT license (suppose everyone agree).

[2022-08-04 17:35] rikardn commented on #116
I think we should change, but there might be more authors that need to agree. Any comments on this @isuruf or @certik?

[2022-08-04 17:49] isuruf commented on #116
I'm fine with that. We'll have to get approval from the other contributors.

[2022-11-07 21:43] TingjieGuo opened #118 "Install from source on Apple Silicon Mac"
Hi all,

I was trying to install symengine.R from source on a M1 Macbook. But I always got the error message "Could NOT find MPFR (missing: MPFR_LIBRARIES MPFR_INCLUDE_DIRS)". I checked my CPPFLAGS and LDFLAGS and they seem to point to the right directory where I do have mpfr (following the instruction from this repo readme). I can't figure out what was going wrong exactly. It seems related to thi

[2022-11-12 19:17] Marlin-Na commented on #118
Hi @TingjieGuo,

Assuming your R is installed from official installer instead of HomeBrew, I would suggest downloading the GMP and MPFR binaries from https://mac.r-project.org/bin/.

It seems that they have a script for that. Basically it will download the binaries and extract to `/opt/R/arm64` (arm64) or `/usr/local` (x86_64).

[2022-11-17 21:29] #118 closed

[2022-11-22 19:27] tdhock opened #119 "how to specify non-standard installation location for mpfr and gmp?"
Hi @Marlin-Na nice to see you are still active in the R community.
I am trying to install symengine from source on a linux system where I do not have root, so I have installed mpfr and gmp via conda,
[code]
My conda environment is called emacs1, so the command above installs headers under /home/th798/.conda/envs/emacs1/include and shared libraries under /home/th798/.conda/envs/emacs1/lib
You shoul

[2022-11-23 15:43] Marlin-Na commented on #119
@tdhock Hi Toby, hope you are doing well! Thanks for reporting the issue.

The R package configure script is supposed to take values from `R CMD config CPPFLAGS`, etc., and from the log, it already sets the correct `CMAKE_INCLUDE_PATH` and `CMAKE_LIBRARY_PATH` values. Let me try to reproduce this and let you know.